.bg-color-1 {
  background-color: #3f48cc; }

.bg-color-2 {
  background-color: #b5e61d; }

.bg-color-3 {
  background-color: #fcff01; }

.text-color-very-light {
  color: #fff !important; }

html {
  font-size: 16px;
  color: #3b3b3b; }
  html * {
    font-family: Raleway, sans-serif; }

.section-header {
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 2.4rem;
  text-align: left;
  color: #3b3b3b; }

.container-main,
.navbar-top {
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px; }

.content-paragraph {
  text-align: left;
  font-family: Helvetica, Arial, Montserrat, sans-serif;
  font-size: 0.85rem;
  line-height: 1.4rem;
  color: #676767; }

.content-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  color: #3b3b3b;
  font-weight: bold;
  font-size: 0.85rem;
  padding: 10px 30px;
  padding-top: 12px;
  border-bottom-left-radius: 6px;
  transition: all 0.25s ease-in-out;
  z-index: 16; }
  .content-btn:hover {
    background-color: #c0ea3d;
    color: #3b3b3b;
    text-decoration: none; }
  .content-btn--color1 {
    background-color: #1d226e;
    color: #e5e7f8; }
    .content-btn--color1:hover {
      background-color: #5b63d3;
      color: #e5e7f8; }
  .content-btn--color2 {
    background-color: #9dc916; }
    .content-btn--color2:hover {
      background-color: #c0ea3d; }

.carousel .carousel-content:after {
  content: '';
  display: block;
  height: 100%;
  width: 20px;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, transparent, #b5e61d);
  position: absolute; }

.carousel .carousel-content__list {
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 0; }

.carousel .carousel-content__paragraph {
  white-space: nowrap;
  line-height: 1em;
  font-weight: bold; }

.carousel .carousel-content__meta {
  line-height: 0.8em;
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
  top: -3px; }

.carousel .carousel-content__item {
  margin-bottom: 15px; }
  .carousel .carousel-content__item:last-child {
    margin-bottom: 0; }

.carousel .carousel-indicators {
  max-height: 10px;
  margin: 0;
  -ms-flex-pack: end;
  justify-content: flex-end;
  bottom: -40px; }
  .carousel .carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #3b3b3b;
    margin-left: 10px;
    margin-right: 10px; }
    .carousel .carousel-indicators li.active {
      background-color: #3b3b3b;
      width: 8px;
      height: 8px;
      top: -1px; }

.inner-wrap {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 60px;
  border-radius: 6px;
  box-shadow: -9px 20px 24.03px 2.97px rgba(84, 17, 40, 0.27);
  max-width: 100%;
  position: relative; }
  .inner-wrap--equal-padding {
    padding-bottom: 30px; }
  .inner-wrap .section-header {
    margin-bottom: 25px; }
  .inner-wrap--color-1 .carousel-content:after {
    content: '';
    display: block;
    height: 100%;
    width: 20px;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, transparent, #3f48cc);
    position: absolute; }
  .inner-wrap--color-1 .carousel-content__paragraph {
    color: #e5e7f8; }
  .inner-wrap--color-1 .carousel-content__meta {
    color: #e5e7f8; }
  .inner-wrap--color-1 .section-header {
    color: #e5e7f8; }
  .inner-wrap--color-1 .carousel-indicators li {
    border-color: #e5e7f8; }
    .inner-wrap--color-1 .carousel-indicators li.active {
      background-color: #e5e7f8; }

.outer-wrap {
  max-width: 100%;
  margin-bottom: 30px; }

.navbar-toggler-icon {
  color: #e5e7f8;
  font-size: 1.3rem; }

.navbar-toggler {
  border-color: #e5e7f8;
  position: relative;
  left: calc(50% - 30px); }

.navbar-nav .nav-link {
  color: #e5e7f8;
  font-size: 1rem; }

.dropdown-toggle::after {
  content: '\f078';
  font-family: 'FontAwesome';
  font-size: 0.6rem;
  border: none;
  margin: 0;
  vertical-align: 0;
  position: absolute;
  top: 0.8rem;
  right: 0; }

.row-header {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 0; }
  .row-header__logo-c .header-bydgoszcz {
    margin: 0; }
    .row-header__logo-c .header-bydgoszcz__top {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1rem;
      display: block;
      margin-top: 4px; }
    .row-header__logo-c .header-bydgoszcz__bottom {
      color: #fe961f;
      font-size: 1rem;
      display: inline-block;
      margin-bottom: 4px;
      font-weight: 600; }
  .row-header__img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: 30px; }
  .row-header__fonts-c {
    margin-right: 30px; }
    .row-header__fonts-c * {
      font-family: Montserrat, sans-serif; }
    .row-header__fonts-c .letter {
      margin-right: 5px; }
      .row-header__fonts-c .letter .letter-btn {
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        line-height: 0.8em;
        font-weight: bold;
        padding: 0;
        cursor: pointer;
        font-size: 1.3rem; }
      .row-header__fonts-c .letter--small .letter-btn {
        font-size: 0.9rem; }
      .row-header__fonts-c .letter--large .letter-btn {
        font-size: 1.6rem; }
  .row-header__contrast-c .btn-contrast {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-right: 30px; }
    .row-header__contrast-c .btn-contrast .contrast-left {
      border: 2px solid #000;
      border-top-left-radius: 5000px;
      border-bottom-left-radius: 5000px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 2px;
      font-weight: 800; }
    .row-header__contrast-c .btn-contrast .contrast-right {
      border: 2px solid #000;
      border-top-right-radius: 5000px;
      border-bottom-right-radius: 5000px;
      padding-right: 10px;
      padding-top: 2px;
      font-weight: 800;
      background-color: #000; }
  .row-header__search-c .input-group .form-control {
    border: none;
    border-bottom: 1px solid #afb2b6;
    border-radius: 0;
    color: #afb2b6;
    font-weight: bold;
    padding-left: 0; }
  .row-header__search-c .input-group .input-group-text {
    border: none;
    border-bottom: 1px solid #afb2b6;
    border-radius: 0;
    color: #afb2b6; }

.top-bar {
  margin-bottom: 35px; }
  .top-bar__outer-c {
    background-image: linear-gradient(45deg, #fcff01 25%, #000000 25%, #000000 50%, #fcff01 50%, #fcff01 75%, #000000 75%, #000000 100%);
    background-size: 50px 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    margin-left: 15px;
    margin-right: 15px; }
  .top-bar__inner-c {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    background-color: #fcff01;
    background: #fcff01 url(../img/ico-exclamation.png) -1% 117% no-repeat;
    border-radius: 6px; }
  .top-bar__lead-section .section-link {
    color: #3b3b3b;
    font-weight: 600;
    font-family: Montserrat, sans-serif; }
  .top-bar .info-section {
    border-left: 1px solid #fe961f; }
    .top-bar .info-section__container {
      position: relative;
      margin-left: 25%; }
      .top-bar .info-section__container .info-icon {
        position: absolute;
        left: -25%;
        top: 3px;
        font-size: 1.5rem; }
    .top-bar .info-section__paragraph {
      text-transform: uppercase;
      line-height: 1.5em;
      font-weight: 600;
      font-size: 0.8rem;
      font-family: Montserrat, sans-serif;
      margin-bottom: 5px; }
    .top-bar .info-section__date {
      font-family: Montserrat, sans-serif;
      font-size: 0.8rem;
      font-weight: bold; }

.row-hero-carousel .col-hero-caurosel {
  min-height: 425px; }
  .row-hero-carousel .col-hero-caurosel .caurosel {
    position: relative; }
  .row-hero-carousel .col-hero-caurosel .carousel-indicators {
    top: 43px;
    z-index: 2;
    right: 20px;
    left: initial;
    margin: 0; }
  .row-hero-carousel .col-hero-caurosel .carousel-category {
    position: absolute;
    top: 30px;
    z-index: 1;
    display: block;
    width: 90%;
    right: 0;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem; }
  .row-hero-carousel .col-hero-caurosel .carousel-inner {
    border-radius: 6px;
    box-shadow: -9px 20px 24.03px 2.97px rgba(84, 17, 40, 0.27); }
  .row-hero-carousel .col-hero-caurosel .carousel-item {
    height: 100% !important; }
    .row-hero-carousel .col-hero-caurosel .carousel-item__img {
      max-height: 190px; }
    .row-hero-carousel .col-hero-caurosel .carousel-item .carousel-caption {
      position: absolute;
      top: 190px;
      bottom: initial;
      left: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0; }
    .row-hero-carousel .col-hero-caurosel .carousel-item .slider-meta-ico {
      margin-right: 15px;
      color: #3b3b3b;
      font-size: 0.8rem; }
    .row-hero-carousel .col-hero-caurosel .carousel-item .slider-meta-time {
      color: #3b3b3b;
      font-size: 0.8rem;
      margin-bottom: 15px;
      display: inline-block; }
  .row-hero-carousel .col-hero-caurosel .section-header {
    position: relative;
    top: -0.4rem; }

.simple-content__link .section-header {
  margin: 0; }

.simple-content__link:hover {
  text-decoration: none; }

.col-timetable {
  margin-bottom: 30px; }
  .col-timetable .inner-wrap {
    padding-right: 100px;
    padding-bottom: 30px; }

.col-renovation .inner-wrap {
  padding-right: 100px;
  padding-bottom: 30px; }
